<!DOCTYPE html>
<html>
<head>
    <title>Le Coin des Gossips</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur les Gossips</h1>
    </header>
    <p>Je suis la page d'accueil du site de Gossips.</p>
</body>
</html>