<div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class="display-4">BIENVENUE DANS LA GOSSIPERIE DE JACTASTAR</h1>
<% if current_user %>
<% end %>
<p class="lead">Voici les derniers potins : </p>
</div>
</div>
<br>

<ul>
  <div class="d-flex flex-wrap">
    <% @gossips.each do |gossip| %>
      <div class="card d-inline-block m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= "#{gossip.title}" %>
            <p class="card-text"> <%="Ajouté par : #{gossip.user.first_name}" %></p>
          </h5>
          <div class="text-center">
            <a class="btn btn-primary" <%= link_to "Voir plus de détails", gossip_path(gossip) %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</ul>