<h1>Bienvenue sur notre super site de potins !</h1>
<p>Voici les derniers potins :</p>
<ul>
  <% @gossips.each do |gossip| %>
    <li><%= "#{gossip.user.first_name}: #{gossip.title}" %></li>
  <% end %>
</ul>